
html {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out 0s;
}

 
$breakpoint-smallnav:	"(max-width: 1140px)";
$breakpoint-menu:			"(max-width: 990px)";
$breakpoint-columns:	"(max-width: 767px)";
$breakpoint-tablet:		"(max-width: 668px)";
$breakpoint-mobile:		"(max-width: 579px)";
$breakbig-menu:				"(min-width:991px)";

$color-text:				#2D2F32;
$color-text-light:	#474A4E;
$color-blue:				#0067a6;
$color-link:				#0067a6;
$color-red:					#c73e1d;

$color-text-superlight:		#7C8085;
$color-red-light:					#efd8d2;

$font-serif:	"Adelle", times new roman;
$font-sans:		"Adelle-sans", arial;


body {
	transition: all 0.3s ease-in-out 0s;
	line-height:1.925em;
}

a {
    color: $color-link;
    outline: 0 none;
    text-decoration: none;
    transition: all 0.25s ease-in-out 0s;
}

/* ---------------

   HEADER 
   
----------------*/
header {
		background:transparent linear-gradient(165deg, #0077c1 0%, #00629e 100%) repeat scroll 0 0 !important;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
		position:relative;
		z-index:99;
}
header.active {//position:static;
	}

header.stacked #banner-wrap {
	
		@media #{$breakbig-menu} {
				flex-flow: column nowrap;
    		justify-content: center;
    		
    		h1 {align-self: center;font-size:36px;}
    		.nav-main {margin-bottom:20px;}
			}
	}
header #banner-wrap {
    //align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 77em;
    padding: 0 1em;
    position: relative;
}
header h1 {
    margin: 30px 0;
    display: flex;
    font-size: 30px;
    
		@media #{$breakpoint-menu} {	
				margin:20px 80px 20px 0;
				align-items: center;
		}	
}
header h1 #logo-connscu-abr {
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: #ffffff;
    display: inline-block;
    font-family: $font-serif;
    margin:0 15px 0 0;
    padding: 10px;
    
		@media #{$breakpoint-menu} {
			font-size:60%;
			line-height:60%;
    	padding: 10px 6px;
    	margin:0 5px 0 0;
    	
		}
}
header h1 #logo-dept {
    color: #fff;
    cursor: pointer;
    font-family: $font-sans;
    font-weight: 700;
    padding: 10px 0;
    
		@media #{$breakpoint-menu} {
			font-size:60%;
			line-height:120%;
    	padding: 0;
		}
}



/* ---------------

   HEADER NAVIGATION
   
----------------*/

#nav-button {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 14px;
    padding:  10px;
    transition: all 1s ease-in-out 0s;
    position:absolute;
    right:0;
    height:100%;
    font-family:$font-sans;
    z-index:999;
    text-transform:uppercase;
    font-weight:700;
    
		@media #{$breakpoint-menu} {
				align-items: center;
				display: flex;
		}
}
	.hamburger {    
    padding-right: 6px;
    vertical-align: middle;
    align-self: center;}
	.hamburger .line{
    background-color: #3d3b3b;
    display: block;
    height: 2px;
    margin: 4px auto;
    width: 20px;
    transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;}
	#nav-button .hamburger .line {
		background-color:rgba(255,255,255,0.7);}
	.hamburger:hover{
		cursor: pointer;}
		
	.hamburger.active .line:nth-child(2){
	  opacity: 0;}

	.hamburger.active .line:nth-child(1){
	  transform: translateY(4px) rotate(45deg);}

	.hamburger.active .line:nth-child(3){
	  transform: translateY(-8px) rotate(-45deg);}	
	  
header .nav-main {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    right: auto;
    top: 0;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
    align-self: center;
    
		@media #{$breakpoint-menu} {		
		    align-self: baseline;
		    flex: 1 1 0;
		    height: 100vh;
		    position: absolute;
		    transform: scale(1.2);
		    opacity:0;
		    visibility:hidden;
		    z-index:998;
	    	text-align: center;
	    	padding:6em 0;
	    	left:0;
					    
				//width may break mobile stickies....
				width:100%;
		}
		
}
	header .nav-main > ul {
	    padding: 0;
	    margin:0;
	    
			@media #{$breakpoint-menu} {	
					max-width:400px;
					margin:0 auto;
					padding:0 1em;
					display:block;
					width:100%;
			}
	}
	header .nav-main > ul > li {
	    display: inline-block;
	    padding: 12px 0;
	    border-radius: 3px;
	    color: rgba(255, 255, 255, 0.75);
	    font-family: $font-sans;
	    font-size: 19px;
	    letter-spacing: 0.01em;
	    
			@media #{$breakpoint-menu} {	
						display:block;
						padding:10px 0;    
						border-bottom: 1px solid rgba(255, 255, 255, 0.1);
				    text-align: left;
						width:100%;
					}
	}
	header .nav-main > ul > li > a {
	    border-radius: 3px;
	    color: rgba(255, 255, 255, 0.75);
	    font-family: $font-sans;
	    font-size: 19px;
	    padding: 9px 20px;
	    letter-spacing: 0.01em;
	    margin: 0;
			
			@media #{$breakpoint-menu} {
	    		display:block;
	    		padding: 10px 1em;
					width:100%;
	    }
	}
	
	/*-----
	
	 Main menu drop downs
	 
	----*/
	header .nav-main > ul > li > ul {
	    box-shadow: none;
	    height: 0;
	    left: -999em;
	    opacity: 0;
	    overflow: hidden;
	    position: absolute;
	    text-align: left;
	    transition: opacity 0.5s ease-in-out 0s;
	    width: 100%;
	    
			@media #{$breakpoint-menu} {
					display: none;
					margin: 0 10px;
					position: relative;
					height: auto;
					opacity: 1;
					padding:10px 10px 10px 18px;
					left:0;
				  list-style-type:none;
				}
	}
	header .nav-main > ul > li:hover > a {
	    background: rgba(0, 0, 0, 0.33) none repeat scroll 0 0;
	}
	header .nav-main > ul > li:hover ul{
	    background: #fff none repeat scroll 0 0;
	    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
	    height: auto;
	    left: auto;
	    margin-top: 8px;
	    width: 45%;
	    opacity: 1;
	    padding: 20px;
	    z-index: 1;
	    list-style-type:none;
	    
			@media #{$breakpoint-menu} {	
						//display:block;
						background:transparent;
						width:100%;
						right:0;
						margin: 0 10px;
				    position: relative;
				    height: auto;
				    opacity: 1;
				    padding: 10px 10px 10px 18px;
				    list-style-type:none;
						
					}
	}
	header .nav-main > ul > li > ul > li > a {
	    color: #878787;
	    display: block;
	    font-family: $font-sans;
	    font-size: 15px;
	    padding: 10px 0;
	    line-height: 20px;
	}

	header .nav-main.active {
	    transform: scale(1);
	    opacity: 1;
	    visibility: visible;
	}



/*-----

 dim body for mobile main menu

----*/
	section#body-wrapper.active * {
	    height: 0;
	    opacity:0;
	}
	section#body-wrapper.active::after {
	    display: block;
	    opacity: 100;
	    visibility: visible;
	}
	section#body-wrapper::after {
	    background: rgba(0, 0, 0, 0.95) none repeat scroll 0 0;
	    bottom: 0;
	    content: "";
	    left: 0;
	    opacity: 0;
	    position: fixed;
	    right: 0;
	    top: 0;
	    transition-duration: 0.3s;
	    visibility: hidden;
	    z-index: 90;
	}
	footer.active, footer.active *{
		height:0;
		opacity:0;}
	section#body-wrapper {text-align: center;}
	
	
/*-----

 Secondary Hero Menu Styles

----*/
.hero-menu {
    background: #ececec none repeat scroll 0 0;
    box-shadow: 0 8px 6px -5px rgba(0,0,0,0.15);
    padding: 0.5em;
    position: relative;
    z-index: 1;
    
		@media #{$breakpoint-menu} { 
				padding:1em;
			}
}
.hero-menu.dark, .hero-menu.dark ul.tabs	{background: #232222;}
.hero-menu.white, .hero-menu.white ul.tabs	{background: #FFF;}

.hero-menu ul.tabs {
    box-shadow: none;
    margin: 0;
    padding: 0;  
    
		@media #{$breakpoint-menu} { 
				padding: 1em 3em;
				display: block;
			  background: #ececec;
			  margin:0 -1em;
			  opacity: 0;
			  position: absolute;
			  transform: translateY(-10%);
			  transition-duration: 0.5s;
			  transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
			  visibility: hidden;
			  z-index: -1;
			  box-shadow:0px 7px 8px -6px rgba(0, 0, 0, 0.22);
			  width:auto;
			  border:0;
			  left:0;
			  right:0;
				text-align:left;}
}
.hero-menu ul.tabs.active {
		opacity: 1;
		position: absolute;
		transform: translateY(0%);
		visibility: visible;
		z-index:999;
		height:auto;
}
	    
.hero-menu ul.tabs li {
    display: inline-block;
    
		@media #{$breakpoint-menu} { 
				display:block;
				max-width:400px;
				margin:0 auto;
				&:not(:last-child) {
						border-bottom:1px solid rgba(0,0,0,0.05);
					}
			}
}
.hero-menu ul.tabs li a {
    padding: 10px 20px;
    border: 0 none;
    color: #a3a3a3;
    display: inline-block;
    font-family: adelle-sans,sans-serif;
    font-size: 0.9em;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    
		@media #{$breakpoint-menu} { 
				display:block;
			}
}	 
.hero-menu ul.tabs li a.active {
		color: #2d2d2d;
}

.hero-menu ul.tabs li .active::after {
    background: #c4634b none repeat scroll 0 0;
    content: " ";
    display: block;
    height: 4px;
    margin: 0 -5px;
    position: relative;
    top: 1px;
    
		@media #{$breakpoint-menu} {
				content: none;
		}
}
		
#nav-button-sub { 
		display:none;

		@media #{$breakpoint-menu} {   
				font-family:$font-sans;
				border-radius: 4px;
				cursor: pointer;
				display: flex;
				justify-content: center;
				margin: 0 auto;
				padding: 0;}
}
 
.hero-menu.dark #nav-button-sub, .hero-menu.dark  ul.tabs li a.active{ 
		color:rgba(255,255,255,0.9);
}  


	.hero-bg-image {
		background:url('http://www.ct.edu/files/images/header-new386.jpg');
		background-size:cover;
		padding:12em 1em 5em;
		position:relative;
		text-align:left;}
	.hero-bg-image .row{
		max-width:63em;
		margin:0 auto;
		padding:1em;}
		
	.hero-hero-image::before, .hero-bg-image::before {
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.41) 50%, rgba(0, 0, 0, 0.77) 70%) repeat scroll 0 0;
    background:linear-gradient(rgba(0,0,0,0.3) 30%, hsla(0, 0%, 0%, 0.3) 50%, rgba(0, 0, 0, 0.6) 70%);
    bottom: 0;
    content: "";
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;}
	.hero-hero-image {
		background:url('http://www.ct.edu/files/images/header-new386.jpg');
		background-size:cover;
		background-position:50% 0;
    margin: 0 auto;
    max-width: 90em;
    padding: 16em 0 6em;
		position:relative;
		text-align:left;
    
		@media #{$breakpoint-menu} {
    		padding: 6em 0 3em;
		}}
	.hero-hero-image .row{
		max-width:62em;
		margin:0 auto;
		padding:1em 1em;}
	.hero-bg-image h1, .hero-hero-image h1 {
		color:#fff;text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);}
	.hero-bg-image h3, .hero-hero-image h3 {
		color:rgba(255,255,255,0.7);}
		
	.hero-no-image {
		padding:3em 1em;
		background:transparent;
		text-align:left;
		}
	.hero-no-image .row{
		max-width:61em;
		margin:0 auto;}
	.hero-no-image h3 {
		color:rgba(0,0,0,0.7);}
		
	.body-content-box {
    position: relative;
    padding: 3em;
    background: #fff none repeat scroll 0 0;
    margin: 0 1em;
    max-width: 64em;
    display:inline-block;
    text-align:left;
    
		@media #{$breakpoint-menu} {
			padding:1em}
}
	.section-overlap-top {margin-top:-3em;}
	.section-overlap-bottom {margin-bottom:-3em;
		@media #{$breakpoint-menu} {
		}}
		
		
	.box-shadow-big {box-shadow:0 0 32px rgba(0, 0, 0, 0.16);}
	

.subhead-line {
		overflow: hidden;
		line-height: 1.5em;
	
		&:after {
				background-color: rgba(0, 0, 0, 0.1);
				content: "";
				display: inline-block;
				height: 3px;
				position: relative;
				vertical-align: middle;
				width: 100%;
				left: 1em;
				margin-right: -100%;
				}
	}	
	
	/*-----------------------/
	Footer styles
/-----------------------*/

footer {
    background:#26292C;
    padding:3em 1em 2em;
    color:#ABAEB1;
  }

.footer-content{
		margin: 0 auto;
		max-width: 77em;
		padding: 0 1em;
		position: relative;
    

		#footer-contact {
				margin:0;padding:1em 0;
		}

		#footer-contact li {
				display:inline-block;margin: 0 10px;

				@media #{$breakpoint-menu} {
						display:inline-block;
				}
				
				.fa {
						font-size:20px;
				}
		}

		.fa {
				color:#C4634B;
				width: 1.3em;transition: all 0.25s ease-in-out 0s;
		}
		
		a {
				color:rgba(255, 255, 255, 0.68);
				
				&:hover {
						color:#fff;
				
						.fa {
								color:#fff;
						}
				}
		}

		&.active {
				display:none;}

		.dark-grey-box {padding:30px;border:1px solid rgba(0,0,0, 0.55)
				
				img {
						box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
						max-width: 190px;
				}
				
				a {
						color: #fff;
				}
		
		}
}

footer h3 {
    font-size: 0.9em;
    text-transform: uppercase;    
    border-bottom: 1px solid #c4634b;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    font-weight: 300;
    color:#fff;
}
footer ul {
    margin: 0;
    padding: 0;
    
    li {
    		list-style:none;padding:0.3em 0 ;

				a {
						color:#ABAEB1;
				}
    }
}

#footer-address {
		margin:1em 0 0;
		padding:1em 0 0;
}
	
.padding-0 {padding:0em;}
.padding-1 {padding:1em;}
.padding-2 {padding:2em;}
.padding-3 {padding:3em;}
.padding-4 {padding:4em;}
.padding-5 {padding:5em;}

.m-padding-1 {padding:1em;}
.m-padding-2 {padding:2em;}
.m-padding-3 {padding:3em;}
.m-padding-4 {padding:4em;}
.m-padding-5 {padding:5em;}

.padding-t-1 {padding-top:1em;}
.padding-t-2 {padding-top:2em;}
.padding-t-3 {padding-top:3em;}
.padding-t-4 {padding-top:4em;}
.padding-t-5 {padding-top:5em;}

.padding-b-1 {padding-bottom:1em;}
.padding-b-2 {padding-bottom:2em;}
.padding-b-3 {padding-bottom:3em;}
.padding-b-4 {padding-bottom:4em;}
.padding-b-5 {padding-bottom:5em;}

.margin-0 {margin:0em;}
.margin-1 {margin:1em;}
.margin-2 {margin:2em;}
.margin-3 {margin:3em;}
.margin-4 {margin:4em;}
.margin-5 {margin:5em;}

.m-margin-1 {margin:1em;}
.m-margin-2 {margin:2em;}
.m-margin-3 {margin:3em;}
.m-margin-4 {margin:4em;}
.m-margin-5 {margin:5em;}

.margin-t-1 {margin-top:1em;}
.margin-t-2 {margin-top:2em;}
.margin-t-3 {margin-top:3em;}
.margin-t-4 {margin-top:4em;}
.margin-t-5 {margin-top:5em;}

.margin-b-1 {margin-bottom:1em;}
.margin-b-2 {margin-bottom:2em;}
.margin-b-3 {margin-bottom:3em;}
.margin-b-4 {margin-bottom:4em;}
.margin-b-5 {margin-bottom:5em;}

.thin 	{font-weight:200;}
.bold 	{font-weight:700;}
.italic {font-style:italic;}

.center-text {text-align:center;}

.color-red 				{color:$color-red;}
.color-blue 			{color:$color-blue;}
.color-red-light 	{color:$color-red-light;}

.sans-serif {font-family:$font-sans;}
.serif 			{font-family:$font-serif;}


.toggle {
	 margin-bottom: 12px;}
	 
.toggle .text {
    cursor: pointer;
    color:$color-link;
    font-size: 1.1em;
    font-family: $font-sans;
    font-weight: 400;}
    
.toggle .text:before {
		content:"ï‚«";
		font-family:fontawesome;
		display:inline-block;
		color:#c4634b;font-size: 15px;
		cursor: pointer;
		margin-right:10px;
		transition:all 0.5s;}
    
.toggle.expanded .text:before {
	transform:rotate(180deg);}
		
.content {margin:0 2em;}
	
.no-margin {margin:0 !important}
.no-padding {padding:0 !important;}


.sticky {position: -webkit-sticky;position: sticky;top: 0;}
.sticky:before, .sticky:after {
    content: '';
    display: table;
 }

#skiptocontent {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}